/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: General Table;
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #696969;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #696969;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #696969;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	max-id: 6;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #696969;
	name: Column1;
	id: 0;
	size: 25%;
}

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: Column2;
	size: 25%;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #696969;
}

mcTableColumnStyle
{
	span: 1;
	id: 6;
	name: Column3;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #696969;
	size: 25%;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #696969;
	background-color: #1d93d4;
	color: #ffffff;
	name: Header1;
	id: 3;
	size: 0;
	text-align: left;
	cell-padding-left: 5px;
	font-weight: bold;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #696969;
	background-color: #ffffff;
	name: Body1;
	id: 1;
	cell-padding-left: 5px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body2;
	id: 2;
	background-color: #ffffff;
	text-align: left;
	cell-padding-left: 5px;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #696969;
	background-color: #1d93d4;
	name: Footer1;
	id: 4;
	color: #ffffff;
	font-weight: bold;
}


/* Cell Styles: */
 
.TableStyle-General_Table
{
	border-collapse: separate;
	overflow: hidden;
	border-left-style: solid;
	border-left-color: #696969;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #696969;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #696969;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #696969;
	border-bottom-width: 1px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-spacing: 0px 0px;
}

.TableStyle-General_Table-Column-Column1
{
	width: 25%;
}

.TableStyle-General_Table-Column-Column2
{
	width: 25%;
}

.TableStyle-General_Table-Column-Column3
{
	width: 25%;
}

.TableStyle-General_Table-Head-Header1
{
	height: 0;
}

.TableStyle-General_Table-HeadI-Column1-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
}

.TableStyle-General_Table-HeadI-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-General_Table-HeadE-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-HeadF-Column1-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-General_Table-HeadF-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
}

.TableStyle-General_Table-HeadH-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-HeadD-Column1-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-General_Table-HeadD-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-HeadC-Column1-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
}

.TableStyle-General_Table-HeadC-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
}

.TableStyle-General_Table-HeadB-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-HeadA-Column1-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
}

.TableStyle-General_Table-HeadA-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-HeadG-Column1-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
}

.TableStyle-General_Table-HeadG-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-HeadI-Column2-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
}

.TableStyle-General_Table-HeadI-Column2-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-HeadE-Column2-Header1
{
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-General_Table-HeadE-Column2-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-HeadF-Column2-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-General_Table-HeadF-Column2-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-HeadH-Column2-Header1
{
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
}

.TableStyle-General_Table-HeadH-Column2-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-HeadD-Column2-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-General_Table-HeadD-Column2-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-HeadC-Column2-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
}

.TableStyle-General_Table-HeadC-Column2-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-HeadB-Column2-Header1
{
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
}

.TableStyle-General_Table-HeadB-Column2-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-HeadA-Column2-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
}

.TableStyle-General_Table-HeadA-Column2-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-HeadG-Column2-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
}

.TableStyle-General_Table-HeadG-Column2-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-HeadI-Column3-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
}

.TableStyle-General_Table-HeadI-Column3-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-HeadE-Column3-Header1
{
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-General_Table-HeadE-Column3-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-HeadF-Column3-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-General_Table-HeadF-Column3-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-HeadH-Column3-Header1
{
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
}

.TableStyle-General_Table-HeadH-Column3-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-HeadD-Column3-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-General_Table-HeadD-Column3-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-HeadC-Column3-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
}

.TableStyle-General_Table-HeadC-Column3-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-HeadB-Column3-Header1
{
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
}

.TableStyle-General_Table-HeadB-Column3-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-HeadA-Column3-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
}

.TableStyle-General_Table-HeadA-Column3-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-HeadG-Column3-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
}

.TableStyle-General_Table-HeadG-Column3-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-Foot-Footer1
{
	
}

.TableStyle-General_Table-FootI-Column1-Footer1
{
	color: #ffffff;
	font-weight: bold;
	background-color: #1d93d4;
}

.TableStyle-General_Table-FootI-Column1-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-FootE-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #1d93d4;
	border-top-width: 1px;
	border-top-color: #696969;
	border-top-style: solid;
}

.TableStyle-General_Table-FootE-Column1-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-FootF-Column1-Footer1
{
	color: #ffffff;
	font-weight: bold;
	background-color: #1d93d4;
	border-top-width: 1px;
	border-top-color: #696969;
	border-top-style: solid;
}

.TableStyle-General_Table-FootF-Column1-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-FootH-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #1d93d4;
}

.TableStyle-General_Table-FootH-Column1-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-FootD-Column1-Footer1
{
	color: #ffffff;
	font-weight: bold;
	background-color: #1d93d4;
	border-top-width: 1px;
	border-top-color: #696969;
	border-top-style: solid;
}

.TableStyle-General_Table-FootD-Column1-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-FootC-Column1-Footer1
{
	color: #ffffff;
	font-weight: bold;
	background-color: #1d93d4;
}

.TableStyle-General_Table-FootC-Column1-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-FootB-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #1d93d4;
}

.TableStyle-General_Table-FootB-Column1-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-FootA-Column1-Footer1
{
	color: #ffffff;
	font-weight: bold;
	background-color: #1d93d4;
}

.TableStyle-General_Table-FootA-Column1-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-FootG-Column1-Footer1
{
	color: #ffffff;
	font-weight: bold;
	background-color: #1d93d4;
}

.TableStyle-General_Table-FootG-Column1-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-FootI-Column2-Footer1
{
	color: #ffffff;
	font-weight: bold;
	background-color: #1d93d4;
}

.TableStyle-General_Table-FootI-Column2-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-FootE-Column2-Footer1
{
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #1d93d4;
	border-top-width: 1px;
	border-top-color: #696969;
	border-top-style: solid;
}

.TableStyle-General_Table-FootE-Column2-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-FootF-Column2-Footer1
{
	color: #ffffff;
	font-weight: bold;
	background-color: #1d93d4;
	border-top-width: 1px;
	border-top-color: #696969;
	border-top-style: solid;
}

.TableStyle-General_Table-FootF-Column2-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-FootH-Column2-Footer1
{
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #1d93d4;
}

.TableStyle-General_Table-FootH-Column2-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-FootD-Column2-Footer1
{
	color: #ffffff;
	font-weight: bold;
	background-color: #1d93d4;
	border-top-width: 1px;
	border-top-color: #696969;
	border-top-style: solid;
}

.TableStyle-General_Table-FootD-Column2-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-FootC-Column2-Footer1
{
	color: #ffffff;
	font-weight: bold;
	background-color: #1d93d4;
}

.TableStyle-General_Table-FootC-Column2-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-FootB-Column2-Footer1
{
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #1d93d4;
}

.TableStyle-General_Table-FootB-Column2-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-FootA-Column2-Footer1
{
	color: #ffffff;
	font-weight: bold;
	background-color: #1d93d4;
}

.TableStyle-General_Table-FootA-Column2-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-FootG-Column2-Footer1
{
	color: #ffffff;
	font-weight: bold;
	background-color: #1d93d4;
}

.TableStyle-General_Table-FootG-Column2-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-FootI-Column3-Footer1
{
	color: #ffffff;
	font-weight: bold;
	background-color: #1d93d4;
}

.TableStyle-General_Table-FootI-Column3-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-FootE-Column3-Footer1
{
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #1d93d4;
	border-top-width: 1px;
	border-top-color: #696969;
	border-top-style: solid;
}

.TableStyle-General_Table-FootE-Column3-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-FootF-Column3-Footer1
{
	color: #ffffff;
	font-weight: bold;
	background-color: #1d93d4;
	border-top-width: 1px;
	border-top-color: #696969;
	border-top-style: solid;
}

.TableStyle-General_Table-FootF-Column3-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-FootH-Column3-Footer1
{
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #1d93d4;
}

.TableStyle-General_Table-FootH-Column3-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-FootD-Column3-Footer1
{
	color: #ffffff;
	font-weight: bold;
	background-color: #1d93d4;
	border-top-width: 1px;
	border-top-color: #696969;
	border-top-style: solid;
}

.TableStyle-General_Table-FootD-Column3-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-FootC-Column3-Footer1
{
	color: #ffffff;
	font-weight: bold;
	background-color: #1d93d4;
}

.TableStyle-General_Table-FootC-Column3-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-FootB-Column3-Footer1
{
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #1d93d4;
}

.TableStyle-General_Table-FootB-Column3-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-FootA-Column3-Footer1
{
	color: #ffffff;
	font-weight: bold;
	background-color: #1d93d4;
}

.TableStyle-General_Table-FootA-Column3-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-FootG-Column3-Footer1
{
	color: #ffffff;
	font-weight: bold;
	background-color: #1d93d4;
}

.TableStyle-General_Table-FootG-Column3-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-General_Table-Body-Body1
{
	
}

.TableStyle-General_Table-BodyI-Column1-Body1
{
	background-color: #ffffff;
	padding-left: 5px;
}

.TableStyle-General_Table-BodyI-Column1-Body1 p
{
	
}

.TableStyle-General_Table-BodyE-Column1-Body1
{
	background-color: #ffffff;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
}

.TableStyle-General_Table-BodyE-Column1-Body1 p
{
	
}

.TableStyle-General_Table-BodyF-Column1-Body1
{
	background-color: #ffffff;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-General_Table-BodyF-Column1-Body1 p
{
	
}

.TableStyle-General_Table-BodyH-Column1-Body1
{
	background-color: #ffffff;
	padding-left: 5px;
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
}

.TableStyle-General_Table-BodyH-Column1-Body1 p
{
	
}

.TableStyle-General_Table-BodyD-Column1-Body1
{
	background-color: #ffffff;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-General_Table-BodyD-Column1-Body1 p
{
	
}

.TableStyle-General_Table-BodyC-Column1-Body1
{
	background-color: #ffffff;
	padding-left: 5px;
}

.TableStyle-General_Table-BodyC-Column1-Body1 p
{
	
}

.TableStyle-General_Table-BodyB-Column1-Body1
{
	background-color: #ffffff;
	padding-left: 5px;
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
}

.TableStyle-General_Table-BodyB-Column1-Body1 p
{
	
}

.TableStyle-General_Table-BodyA-Column1-Body1
{
	background-color: #ffffff;
	padding-left: 5px;
}

.TableStyle-General_Table-BodyA-Column1-Body1 p
{
	
}

.TableStyle-General_Table-BodyG-Column1-Body1
{
	background-color: #ffffff;
	padding-left: 5px;
}

.TableStyle-General_Table-BodyG-Column1-Body1 p
{
	
}

.TableStyle-General_Table-BodyI-Column2-Body1
{
	background-color: #ffffff;
	padding-left: 5px;
}

.TableStyle-General_Table-BodyI-Column2-Body1 p
{
	
}

.TableStyle-General_Table-BodyE-Column2-Body1
{
	background-color: #ffffff;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
}

.TableStyle-General_Table-BodyE-Column2-Body1 p
{
	
}

.TableStyle-General_Table-BodyF-Column2-Body1
{
	background-color: #ffffff;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-General_Table-BodyF-Column2-Body1 p
{
	
}

.TableStyle-General_Table-BodyH-Column2-Body1
{
	background-color: #ffffff;
	padding-left: 5px;
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
}

.TableStyle-General_Table-BodyH-Column2-Body1 p
{
	
}

.TableStyle-General_Table-BodyD-Column2-Body1
{
	background-color: #ffffff;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-General_Table-BodyD-Column2-Body1 p
{
	
}

.TableStyle-General_Table-BodyC-Column2-Body1
{
	background-color: #ffffff;
	padding-left: 5px;
}

.TableStyle-General_Table-BodyC-Column2-Body1 p
{
	
}

.TableStyle-General_Table-BodyB-Column2-Body1
{
	background-color: #ffffff;
	padding-left: 5px;
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
}

.TableStyle-General_Table-BodyB-Column2-Body1 p
{
	
}

.TableStyle-General_Table-BodyA-Column2-Body1
{
	background-color: #ffffff;
	padding-left: 5px;
}

.TableStyle-General_Table-BodyA-Column2-Body1 p
{
	
}

.TableStyle-General_Table-BodyG-Column2-Body1
{
	background-color: #ffffff;
	padding-left: 5px;
}

.TableStyle-General_Table-BodyG-Column2-Body1 p
{
	
}

.TableStyle-General_Table-BodyI-Column3-Body1
{
	background-color: #ffffff;
	padding-left: 5px;
}

.TableStyle-General_Table-BodyI-Column3-Body1 p
{
	
}

.TableStyle-General_Table-BodyE-Column3-Body1
{
	background-color: #ffffff;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
}

.TableStyle-General_Table-BodyE-Column3-Body1 p
{
	
}

.TableStyle-General_Table-BodyF-Column3-Body1
{
	background-color: #ffffff;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-General_Table-BodyF-Column3-Body1 p
{
	
}

.TableStyle-General_Table-BodyH-Column3-Body1
{
	background-color: #ffffff;
	padding-left: 5px;
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
}

.TableStyle-General_Table-BodyH-Column3-Body1 p
{
	
}

.TableStyle-General_Table-BodyD-Column3-Body1
{
	background-color: #ffffff;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-General_Table-BodyD-Column3-Body1 p
{
	
}

.TableStyle-General_Table-BodyC-Column3-Body1
{
	background-color: #ffffff;
	padding-left: 5px;
}

.TableStyle-General_Table-BodyC-Column3-Body1 p
{
	
}

.TableStyle-General_Table-BodyB-Column3-Body1
{
	background-color: #ffffff;
	padding-left: 5px;
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
}

.TableStyle-General_Table-BodyB-Column3-Body1 p
{
	
}

.TableStyle-General_Table-BodyA-Column3-Body1
{
	background-color: #ffffff;
	padding-left: 5px;
}

.TableStyle-General_Table-BodyA-Column3-Body1 p
{
	
}

.TableStyle-General_Table-BodyG-Column3-Body1
{
	background-color: #ffffff;
	padding-left: 5px;
}

.TableStyle-General_Table-BodyG-Column3-Body1 p
{
	
}

.TableStyle-General_Table-Body-Body2
{
	
}

.TableStyle-General_Table-BodyI-Column1-Body2
{
	text-align: left;
	background-color: #ffffff;
	padding-left: 5px;
}

.TableStyle-General_Table-BodyI-Column1-Body2 p
{
	
}

.TableStyle-General_Table-BodyE-Column1-Body2
{
	text-align: left;
	background-color: #ffffff;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
}

.TableStyle-General_Table-BodyE-Column1-Body2 p
{
	
}

.TableStyle-General_Table-BodyF-Column1-Body2
{
	text-align: left;
	background-color: #ffffff;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-General_Table-BodyF-Column1-Body2 p
{
	
}

.TableStyle-General_Table-BodyH-Column1-Body2
{
	text-align: left;
	background-color: #ffffff;
	padding-left: 5px;
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
}

.TableStyle-General_Table-BodyH-Column1-Body2 p
{
	
}

.TableStyle-General_Table-BodyD-Column1-Body2
{
	text-align: left;
	background-color: #ffffff;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-General_Table-BodyD-Column1-Body2 p
{
	
}

.TableStyle-General_Table-BodyC-Column1-Body2
{
	text-align: left;
	background-color: #ffffff;
	padding-left: 5px;
}

.TableStyle-General_Table-BodyC-Column1-Body2 p
{
	
}

.TableStyle-General_Table-BodyB-Column1-Body2
{
	text-align: left;
	background-color: #ffffff;
	padding-left: 5px;
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
}

.TableStyle-General_Table-BodyB-Column1-Body2 p
{
	
}

.TableStyle-General_Table-BodyA-Column1-Body2
{
	text-align: left;
	background-color: #ffffff;
	padding-left: 5px;
}

.TableStyle-General_Table-BodyA-Column1-Body2 p
{
	
}

.TableStyle-General_Table-BodyG-Column1-Body2
{
	text-align: left;
	background-color: #ffffff;
	padding-left: 5px;
}

.TableStyle-General_Table-BodyG-Column1-Body2 p
{
	
}

.TableStyle-General_Table-BodyI-Column2-Body2
{
	text-align: left;
	background-color: #ffffff;
	padding-left: 5px;
}

.TableStyle-General_Table-BodyI-Column2-Body2 p
{
	
}

.TableStyle-General_Table-BodyE-Column2-Body2
{
	text-align: left;
	background-color: #ffffff;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
}

.TableStyle-General_Table-BodyE-Column2-Body2 p
{
	
}

.TableStyle-General_Table-BodyF-Column2-Body2
{
	text-align: left;
	background-color: #ffffff;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-General_Table-BodyF-Column2-Body2 p
{
	
}

.TableStyle-General_Table-BodyH-Column2-Body2
{
	text-align: left;
	background-color: #ffffff;
	padding-left: 5px;
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
}

.TableStyle-General_Table-BodyH-Column2-Body2 p
{
	
}

.TableStyle-General_Table-BodyD-Column2-Body2
{
	text-align: left;
	background-color: #ffffff;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-General_Table-BodyD-Column2-Body2 p
{
	
}

.TableStyle-General_Table-BodyC-Column2-Body2
{
	text-align: left;
	background-color: #ffffff;
	padding-left: 5px;
}

.TableStyle-General_Table-BodyC-Column2-Body2 p
{
	
}

.TableStyle-General_Table-BodyB-Column2-Body2
{
	text-align: left;
	background-color: #ffffff;
	padding-left: 5px;
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
}

.TableStyle-General_Table-BodyB-Column2-Body2 p
{
	
}

.TableStyle-General_Table-BodyA-Column2-Body2
{
	text-align: left;
	background-color: #ffffff;
	padding-left: 5px;
}

.TableStyle-General_Table-BodyA-Column2-Body2 p
{
	
}

.TableStyle-General_Table-BodyG-Column2-Body2
{
	text-align: left;
	background-color: #ffffff;
	padding-left: 5px;
}

.TableStyle-General_Table-BodyG-Column2-Body2 p
{
	
}

.TableStyle-General_Table-BodyI-Column3-Body2
{
	text-align: left;
	background-color: #ffffff;
	padding-left: 5px;
}

.TableStyle-General_Table-BodyI-Column3-Body2 p
{
	
}

.TableStyle-General_Table-BodyE-Column3-Body2
{
	text-align: left;
	background-color: #ffffff;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
}

.TableStyle-General_Table-BodyE-Column3-Body2 p
{
	
}

.TableStyle-General_Table-BodyF-Column3-Body2
{
	text-align: left;
	background-color: #ffffff;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-General_Table-BodyF-Column3-Body2 p
{
	
}

.TableStyle-General_Table-BodyH-Column3-Body2
{
	text-align: left;
	background-color: #ffffff;
	padding-left: 5px;
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
}

.TableStyle-General_Table-BodyH-Column3-Body2 p
{
	
}

.TableStyle-General_Table-BodyD-Column3-Body2
{
	text-align: left;
	background-color: #ffffff;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-General_Table-BodyD-Column3-Body2 p
{
	
}

.TableStyle-General_Table-BodyC-Column3-Body2
{
	text-align: left;
	background-color: #ffffff;
	padding-left: 5px;
}

.TableStyle-General_Table-BodyC-Column3-Body2 p
{
	
}

.TableStyle-General_Table-BodyB-Column3-Body2
{
	text-align: left;
	background-color: #ffffff;
	padding-left: 5px;
	border-right-width: 1px;
	border-right-color: #696969;
	border-right-style: solid;
}

.TableStyle-General_Table-BodyB-Column3-Body2 p
{
	
}

.TableStyle-General_Table-BodyA-Column3-Body2
{
	text-align: left;
	background-color: #ffffff;
	padding-left: 5px;
}

.TableStyle-General_Table-BodyA-Column3-Body2 p
{
	
}

.TableStyle-General_Table-BodyG-Column3-Body2
{
	text-align: left;
	background-color: #ffffff;
	padding-left: 5px;
}

.TableStyle-General_Table-BodyG-Column3-Body2 p
{
	
}


