/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Note;
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #696969;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #696969;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #696969;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	max-id: 3;
	background-color: #fdf5e6;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
	cell-padding-top: 2pt;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 2px;
	separator-color: #4169e1;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #696969;
	name: Header1;
	id: 2;
	background-image: none;
	text-align: left;
	vertical-align: middle;
	cell-padding-top: 3pt;
	cell-padding-bottom: 3pt;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #696969;
	name: Body1;
	id: 1;
	cell-padding-left: 5pt;
	cell-padding-right: 5pt;
	cell-padding-top: 5pt;
	cell-padding-bottom: 5pt;
	cell-content-style-class: toptable;
	text-align: left;
	background-color: #ffd700;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #696969;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-Note
{
	border-collapse: separate;
	overflow: hidden;
	background-color: #fdf5e6;
	border-left-style: solid;
	border-left-color: #696969;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #696969;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #696969;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #696969;
	border-bottom-width: 1px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-spacing: 0px 0px;
}

.TableStyle-Note-Column-Column1
{
	
}

.TableStyle-Note-Head-Header1
{
	
}

.TableStyle-Note-HeadI-Column1-Header1
{
	text-align: left;
	vertical-align: middle;
	background-image: none;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-Note-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Note-HeadE-Column1-Header1
{
	border-right-width: 2px;
	border-right-color: #4169e1;
	border-right-style: none;
	text-align: left;
	vertical-align: middle;
	background-image: none;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-Note-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Note-HeadF-Column1-Header1
{
	text-align: left;
	vertical-align: middle;
	background-image: none;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-Note-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Note-HeadH-Column1-Header1
{
	border-right-width: 2px;
	border-right-color: #4169e1;
	border-right-style: none;
	text-align: left;
	vertical-align: middle;
	background-image: none;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-Note-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Note-HeadD-Column1-Header1
{
	text-align: left;
	vertical-align: middle;
	background-image: none;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-Note-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Note-HeadC-Column1-Header1
{
	text-align: left;
	vertical-align: middle;
	background-image: none;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-Note-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Note-HeadB-Column1-Header1
{
	border-right-width: 2px;
	border-right-color: #4169e1;
	border-right-style: none;
	text-align: left;
	vertical-align: middle;
	background-image: none;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-Note-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Note-HeadA-Column1-Header1
{
	text-align: left;
	vertical-align: middle;
	background-image: none;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-Note-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Note-HeadG-Column1-Header1
{
	text-align: left;
	vertical-align: middle;
	background-image: none;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-Note-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Note-Foot-Footer1
{
	
}

.TableStyle-Note-FootI-Column1-Footer1
{
	padding-top: 2pt;
}

.TableStyle-Note-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Note-FootE-Column1-Footer1
{
	padding-top: 2pt;
	border-right-width: 2px;
	border-right-color: #4169e1;
	border-right-style: none;
	border-top-width: 1px;
	border-top-color: #696969;
	border-top-style: solid;
}

.TableStyle-Note-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Note-FootF-Column1-Footer1
{
	padding-top: 2pt;
	border-top-width: 1px;
	border-top-color: #696969;
	border-top-style: solid;
}

.TableStyle-Note-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Note-FootH-Column1-Footer1
{
	padding-top: 2pt;
	border-right-width: 2px;
	border-right-color: #4169e1;
	border-right-style: none;
}

.TableStyle-Note-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Note-FootD-Column1-Footer1
{
	padding-top: 2pt;
	border-top-width: 1px;
	border-top-color: #696969;
	border-top-style: solid;
}

.TableStyle-Note-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Note-FootC-Column1-Footer1
{
	padding-top: 2pt;
}

.TableStyle-Note-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Note-FootB-Column1-Footer1
{
	padding-top: 2pt;
	border-right-width: 2px;
	border-right-color: #4169e1;
	border-right-style: none;
}

.TableStyle-Note-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Note-FootA-Column1-Footer1
{
	padding-top: 2pt;
}

.TableStyle-Note-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Note-FootG-Column1-Footer1
{
	padding-top: 2pt;
}

.TableStyle-Note-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Note-Body-Body1
{
	
}

.TableStyle-Note-BodyI-Column1-Body1
{
	text-align: left;
	background-color: #ffd700;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
}

.TableStyle-Note-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyE-Column1-Body1
{
	text-align: left;
	background-color: #ffd700;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
	border-right-width: 2px;
	border-right-color: #4169e1;
	border-right-style: none;
}

.TableStyle-Note-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyF-Column1-Body1
{
	text-align: left;
	background-color: #ffd700;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-Note-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyH-Column1-Body1
{
	text-align: left;
	background-color: #ffd700;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	border-right-width: 2px;
	border-right-color: #4169e1;
	border-right-style: none;
}

.TableStyle-Note-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyD-Column1-Body1
{
	text-align: left;
	background-color: #ffd700;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-Note-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyC-Column1-Body1
{
	text-align: left;
	background-color: #ffd700;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
}

.TableStyle-Note-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyB-Column1-Body1
{
	text-align: left;
	background-color: #ffd700;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	border-right-width: 2px;
	border-right-color: #4169e1;
	border-right-style: none;
}

.TableStyle-Note-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyA-Column1-Body1
{
	text-align: left;
	background-color: #ffd700;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
}

.TableStyle-Note-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyG-Column1-Body1
{
	text-align: left;
	background-color: #ffd700;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
}

.TableStyle-Note-BodyG-Column1-Body1 p
{
	
}


