/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: TabBlueHeadRedRowsGrayBorder;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	max-id: 10;
	cell-padding-left: 7px;
	cell-padding-right: 1px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	border-left-color: #dcdcdc;
	border-right-color: #dcdcdc;
	border-top-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
	border-top-left-radius: 10px 0px;
	border-top-right-radius: 10px 0px;
	border-bottom-right-radius: 10px 0px;
	border-bottom-left-radius: 10px 0px;
	overflow: hidden;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	name: Column1;
	id: 0;
	separator-color: #dcdcdc;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #dcdcdc;
	background-color: #1d93d4;
	color: #ffffff;
	name: Header1;
	id: 3;
	font-family: 'Trebuchet MS';
	font-weight: bold;
	font-style: normal;
	cell-padding-top: 3px;
	cell-padding-bottom: 3px;
	font-size: 10pt;
	text-align: left;
}

mcTableBodyStyle
{
	span: 1;
	id: 6;
	name: subHeadGreen;
	type: Manual;
	background-color: #ffffff;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #dcdcdc;
	font-weight: bold;
	background-image: none;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	name: Body1;
	id: 1;
	vertical-align: top;
	background-color: #ffffff;
	separator-color: #a9a9a9;
}

mcTableBodyStyle
{
	span: 1;
	id: 10;
	name: Body2;
	background-color: #ffe4e1;
}


/* Cell Styles: */
 
.TableStyle-TabBlueHeadRedRowsGrayBorder
{
	border-collapse: collapse;
	overflow: hidden;
	border-left-style: solid;
	border-left-color: #dcdcdc;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #dcdcdc;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #dcdcdc;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dcdcdc;
	border-bottom-width: 1px;
	border-top-left-radius: 10px 0px;
	border-top-right-radius: 10px 0px;
	border-bottom-right-radius: 10px 0px;
	border-bottom-left-radius: 10px 0px;
	border-spacing: 0px 0px;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-Column-Column1
{
	
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-Head-Header1
{
	
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-HeadI-Column1-Header1
{
	padding-left: 7px;
	padding-right: 1px;
	color: #ffffff;
	font-family: 'Trebuchet MS';
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	background-color: #1d93d4;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-HeadI-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Trebuchet MS';
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-HeadE-Column1-Header1
{
	padding-left: 7px;
	padding-right: 1px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Trebuchet MS';
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	background-color: #1d93d4;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 2px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-HeadE-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Trebuchet MS';
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-HeadF-Column1-Header1
{
	padding-left: 7px;
	padding-right: 1px;
	color: #ffffff;
	font-family: 'Trebuchet MS';
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	background-color: #1d93d4;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 2px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-HeadF-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Trebuchet MS';
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-HeadH-Column1-Header1
{
	padding-left: 7px;
	padding-right: 1px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Trebuchet MS';
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	background-color: #1d93d4;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-HeadH-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Trebuchet MS';
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-HeadD-Column1-Header1
{
	padding-left: 7px;
	padding-right: 1px;
	color: #ffffff;
	font-family: 'Trebuchet MS';
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	background-color: #1d93d4;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 2px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-HeadD-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Trebuchet MS';
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-HeadC-Column1-Header1
{
	padding-left: 7px;
	padding-right: 1px;
	color: #ffffff;
	font-family: 'Trebuchet MS';
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	background-color: #1d93d4;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-HeadC-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Trebuchet MS';
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-HeadB-Column1-Header1
{
	padding-left: 7px;
	padding-right: 1px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Trebuchet MS';
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	background-color: #1d93d4;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-HeadB-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Trebuchet MS';
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-HeadA-Column1-Header1
{
	padding-left: 7px;
	padding-right: 1px;
	color: #ffffff;
	font-family: 'Trebuchet MS';
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	background-color: #1d93d4;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-HeadA-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Trebuchet MS';
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-HeadG-Column1-Header1
{
	padding-left: 7px;
	padding-right: 1px;
	color: #ffffff;
	font-family: 'Trebuchet MS';
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	background-color: #1d93d4;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-HeadG-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Trebuchet MS';
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-FootI-Column1-
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-FootI-Column1- p
{
	
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-FootE-Column1-
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-FootE-Column1- p
{
	
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-FootF-Column1-
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-FootF-Column1- p
{
	
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-FootH-Column1-
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-FootH-Column1- p
{
	
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-FootD-Column1-
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-FootD-Column1- p
{
	
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-FootC-Column1-
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-FootC-Column1- p
{
	
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-FootB-Column1-
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-FootB-Column1- p
{
	
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-FootA-Column1-
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-FootA-Column1- p
{
	
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-FootG-Column1-
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-FootG-Column1- p
{
	
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-Body-subHeadGreen
{
	
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyI-Column1-subHeadGreen
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	background-color: #ffffff;
	background-image: none;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyI-Column1-subHeadGreen p
{
	font-weight: bold;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyE-Column1-subHeadGreen
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	background-color: #ffffff;
	background-image: none;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyE-Column1-subHeadGreen p
{
	font-weight: bold;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyF-Column1-subHeadGreen
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	background-color: #ffffff;
	background-image: none;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyF-Column1-subHeadGreen p
{
	font-weight: bold;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyH-Column1-subHeadGreen
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	background-color: #ffffff;
	background-image: none;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyH-Column1-subHeadGreen p
{
	font-weight: bold;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyD-Column1-subHeadGreen
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	background-color: #ffffff;
	background-image: none;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyD-Column1-subHeadGreen p
{
	font-weight: bold;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyC-Column1-subHeadGreen
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	background-color: #ffffff;
	background-image: none;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyC-Column1-subHeadGreen p
{
	font-weight: bold;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyB-Column1-subHeadGreen
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	background-color: #ffffff;
	background-image: none;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyB-Column1-subHeadGreen p
{
	font-weight: bold;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyA-Column1-subHeadGreen
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	background-color: #ffffff;
	background-image: none;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyA-Column1-subHeadGreen p
{
	font-weight: bold;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyG-Column1-subHeadGreen
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	background-color: #ffffff;
	background-image: none;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyG-Column1-subHeadGreen p
{
	font-weight: bold;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-Body-Body1
{
	
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyI-Column1-Body1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyI-Column1-Body1 p
{
	
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyE-Column1-Body1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyE-Column1-Body1 p
{
	
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyF-Column1-Body1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyF-Column1-Body1 p
{
	
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyH-Column1-Body1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyH-Column1-Body1 p
{
	
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyD-Column1-Body1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyD-Column1-Body1 p
{
	
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyC-Column1-Body1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyC-Column1-Body1 p
{
	
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyB-Column1-Body1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyB-Column1-Body1 p
{
	
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyA-Column1-Body1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyA-Column1-Body1 p
{
	
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyG-Column1-Body1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyG-Column1-Body1 p
{
	
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-Body-Body2
{
	
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyI-Column1-Body2
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #ffe4e1;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyI-Column1-Body2 p
{
	
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyE-Column1-Body2
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #ffe4e1;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyE-Column1-Body2 p
{
	
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyF-Column1-Body2
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #ffe4e1;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyF-Column1-Body2 p
{
	
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyH-Column1-Body2
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #ffe4e1;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyH-Column1-Body2 p
{
	
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyD-Column1-Body2
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #ffe4e1;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyD-Column1-Body2 p
{
	
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyC-Column1-Body2
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #ffe4e1;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyC-Column1-Body2 p
{
	
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyB-Column1-Body2
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #ffe4e1;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyB-Column1-Body2 p
{
	
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyA-Column1-Body2
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #ffe4e1;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyA-Column1-Body2 p
{
	
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyG-Column1-Body2
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #ffe4e1;
}

.TableStyle-TabBlueHeadRedRowsGrayBorder-BodyG-Column1-Body2 p
{
	
}


