/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: TabGreyHorizontalOnly;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #dcdcdc;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	max-id: 3;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #c0c0c0;
	name: Header1;
	id: 2;
	background-color: #1d93d4;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #dcdcdc;
	name: Body1;
	id: 1;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-TabGreyHorizontalOnly
{
	border-collapse: collapse;
	overflow: hidden;
	border-left-style: solid;
	border-left-color: #dcdcdc;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #dcdcdc;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #dcdcdc;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dcdcdc;
	border-bottom-width: 1px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-spacing: 0px 0px;
}

.TableStyle-TabGreyHorizontalOnly-Column-Column1
{
	
}

.TableStyle-TabGreyHorizontalOnly-Head-Header1
{
	
}

.TableStyle-TabGreyHorizontalOnly-HeadI-Column1-Header1
{
	background-color: #1d93d4;
}

.TableStyle-TabGreyHorizontalOnly-HeadI-Column1-Header1 p
{
	
}

.TableStyle-TabGreyHorizontalOnly-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	background-color: #1d93d4;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: none;
}

.TableStyle-TabGreyHorizontalOnly-HeadE-Column1-Header1 p
{
	
}

.TableStyle-TabGreyHorizontalOnly-HeadF-Column1-Header1
{
	background-color: #1d93d4;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: none;
}

.TableStyle-TabGreyHorizontalOnly-HeadF-Column1-Header1 p
{
	
}

.TableStyle-TabGreyHorizontalOnly-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	background-color: #1d93d4;
}

.TableStyle-TabGreyHorizontalOnly-HeadH-Column1-Header1 p
{
	
}

.TableStyle-TabGreyHorizontalOnly-HeadD-Column1-Header1
{
	background-color: #1d93d4;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: none;
}

.TableStyle-TabGreyHorizontalOnly-HeadD-Column1-Header1 p
{
	
}

.TableStyle-TabGreyHorizontalOnly-HeadC-Column1-Header1
{
	background-color: #1d93d4;
}

.TableStyle-TabGreyHorizontalOnly-HeadC-Column1-Header1 p
{
	
}

.TableStyle-TabGreyHorizontalOnly-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	background-color: #1d93d4;
}

.TableStyle-TabGreyHorizontalOnly-HeadB-Column1-Header1 p
{
	
}

.TableStyle-TabGreyHorizontalOnly-HeadA-Column1-Header1
{
	background-color: #1d93d4;
}

.TableStyle-TabGreyHorizontalOnly-HeadA-Column1-Header1 p
{
	
}

.TableStyle-TabGreyHorizontalOnly-HeadG-Column1-Header1
{
	background-color: #1d93d4;
}

.TableStyle-TabGreyHorizontalOnly-HeadG-Column1-Header1 p
{
	
}

.TableStyle-TabGreyHorizontalOnly-Foot-Footer1
{
	
}

.TableStyle-TabGreyHorizontalOnly-FootI-Column1-Footer1
{
	
}

.TableStyle-TabGreyHorizontalOnly-FootI-Column1-Footer1 p
{
	
}

.TableStyle-TabGreyHorizontalOnly-FootE-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	border-top-width: 1px;
	border-top-color: #a9a9a9;
	border-top-style: solid;
}

.TableStyle-TabGreyHorizontalOnly-FootE-Column1-Footer1 p
{
	
}

.TableStyle-TabGreyHorizontalOnly-FootF-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #a9a9a9;
	border-top-style: solid;
}

.TableStyle-TabGreyHorizontalOnly-FootF-Column1-Footer1 p
{
	
}

.TableStyle-TabGreyHorizontalOnly-FootH-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-TabGreyHorizontalOnly-FootH-Column1-Footer1 p
{
	
}

.TableStyle-TabGreyHorizontalOnly-FootD-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #a9a9a9;
	border-top-style: solid;
}

.TableStyle-TabGreyHorizontalOnly-FootD-Column1-Footer1 p
{
	
}

.TableStyle-TabGreyHorizontalOnly-FootC-Column1-Footer1
{
	
}

.TableStyle-TabGreyHorizontalOnly-FootC-Column1-Footer1 p
{
	
}

.TableStyle-TabGreyHorizontalOnly-FootB-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-TabGreyHorizontalOnly-FootB-Column1-Footer1 p
{
	
}

.TableStyle-TabGreyHorizontalOnly-FootA-Column1-Footer1
{
	
}

.TableStyle-TabGreyHorizontalOnly-FootA-Column1-Footer1 p
{
	
}

.TableStyle-TabGreyHorizontalOnly-FootG-Column1-Footer1
{
	
}

.TableStyle-TabGreyHorizontalOnly-FootG-Column1-Footer1 p
{
	
}

.TableStyle-TabGreyHorizontalOnly-Body-Body1
{
	
}

.TableStyle-TabGreyHorizontalOnly-BodyI-Column1-Body1
{
	
}

.TableStyle-TabGreyHorizontalOnly-BodyI-Column1-Body1 p
{
	
}

.TableStyle-TabGreyHorizontalOnly-BodyE-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-TabGreyHorizontalOnly-BodyE-Column1-Body1 p
{
	
}

.TableStyle-TabGreyHorizontalOnly-BodyF-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-TabGreyHorizontalOnly-BodyF-Column1-Body1 p
{
	
}

.TableStyle-TabGreyHorizontalOnly-BodyH-Column1-Body1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-TabGreyHorizontalOnly-BodyH-Column1-Body1 p
{
	
}

.TableStyle-TabGreyHorizontalOnly-BodyD-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-TabGreyHorizontalOnly-BodyD-Column1-Body1 p
{
	
}

.TableStyle-TabGreyHorizontalOnly-BodyC-Column1-Body1
{
	
}

.TableStyle-TabGreyHorizontalOnly-BodyC-Column1-Body1 p
{
	
}

.TableStyle-TabGreyHorizontalOnly-BodyB-Column1-Body1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-TabGreyHorizontalOnly-BodyB-Column1-Body1 p
{
	
}

.TableStyle-TabGreyHorizontalOnly-BodyA-Column1-Body1
{
	
}

.TableStyle-TabGreyHorizontalOnly-BodyA-Column1-Body1 p
{
	
}

.TableStyle-TabGreyHorizontalOnly-BodyG-Column1-Body1
{
	
}

.TableStyle-TabGreyHorizontalOnly-BodyG-Column1-Body1 p
{
	
}


