/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	border-collapse: separate;
	border-spacing-y: 0;
	border-spacing-x: 0;
	name: TabKBTable1;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	max-id: 9;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
	background-color: #ffff00;
}

mcTableColumnStyle
{
	span: 1;
	name: Regular;
	id: 0;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
}

mcTableColumnStyle
{
	span: 1;
	id: 9;
	name: DarkShade;
	type: Manual;
	background-color: #8798b3;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	background-color: #1d93d4;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	id: 8;
	name: LightRows;
	background-color: #edf0f1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
}

mcTableBodyStyle
{
	span: 1;
	name: DarkerRows;
	id: 1;
	background-color: #e1e4e6;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-widte: 1px;
	separator-color: #ffffff;
	name: Footer1;
	id: 3;
	separator-width: 1px;
	background-color: #1d93d4;
	color: #ffffff;
}


/* Cell Styles: */
 
.TableStyle-TabKBTable1
{
	border-collapse: separate;
	overflow: hidden;
	background-color: #ffff00;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-spacing: 0px 0px;
}

.TableStyle-TabKBTable1-Column-Regular
{
	
}

.TableStyle-TabKBTable1-Column-DarkShade
{
	
}

.TableStyle-TabKBTable1-Head-Header1
{
	
}

.TableStyle-TabKBTable1-HeadI-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #1d93d4;
}

.TableStyle-TabKBTable1-HeadI-Regular-Header1 p
{
	
}

.TableStyle-TabKBTable1-HeadE-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #1d93d4;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-TabKBTable1-HeadE-Regular-Header1 p
{
	
}

.TableStyle-TabKBTable1-HeadF-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #1d93d4;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-TabKBTable1-HeadF-Regular-Header1 p
{
	
}

.TableStyle-TabKBTable1-HeadH-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #1d93d4;
}

.TableStyle-TabKBTable1-HeadH-Regular-Header1 p
{
	
}

.TableStyle-TabKBTable1-HeadD-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #1d93d4;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-TabKBTable1-HeadD-Regular-Header1 p
{
	
}

.TableStyle-TabKBTable1-HeadC-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #1d93d4;
}

.TableStyle-TabKBTable1-HeadC-Regular-Header1 p
{
	
}

.TableStyle-TabKBTable1-HeadB-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #1d93d4;
}

.TableStyle-TabKBTable1-HeadB-Regular-Header1 p
{
	
}

.TableStyle-TabKBTable1-HeadA-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #1d93d4;
}

.TableStyle-TabKBTable1-HeadA-Regular-Header1 p
{
	
}

.TableStyle-TabKBTable1-HeadG-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #1d93d4;
}

.TableStyle-TabKBTable1-HeadG-Regular-Header1 p
{
	
}

.TableStyle-TabKBTable1-HeadI-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #1d93d4;
}

.TableStyle-TabKBTable1-HeadI-DarkShade-Header1 p
{
	
}

.TableStyle-TabKBTable1-HeadE-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #1d93d4;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-TabKBTable1-HeadE-DarkShade-Header1 p
{
	
}

.TableStyle-TabKBTable1-HeadF-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #1d93d4;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-TabKBTable1-HeadF-DarkShade-Header1 p
{
	
}

.TableStyle-TabKBTable1-HeadH-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #1d93d4;
}

.TableStyle-TabKBTable1-HeadH-DarkShade-Header1 p
{
	
}

.TableStyle-TabKBTable1-HeadD-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #1d93d4;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-TabKBTable1-HeadD-DarkShade-Header1 p
{
	
}

.TableStyle-TabKBTable1-HeadC-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #1d93d4;
}

.TableStyle-TabKBTable1-HeadC-DarkShade-Header1 p
{
	
}

.TableStyle-TabKBTable1-HeadB-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #1d93d4;
}

.TableStyle-TabKBTable1-HeadB-DarkShade-Header1 p
{
	
}

.TableStyle-TabKBTable1-HeadA-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #1d93d4;
}

.TableStyle-TabKBTable1-HeadA-DarkShade-Header1 p
{
	
}

.TableStyle-TabKBTable1-HeadG-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #1d93d4;
}

.TableStyle-TabKBTable1-HeadG-DarkShade-Header1 p
{
	
}

.TableStyle-TabKBTable1-Foot-Footer1
{
	
}

.TableStyle-TabKBTable1-FootI-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #1d93d4;
}

.TableStyle-TabKBTable1-FootI-Regular-Footer1 p
{
	color: #ffffff;
}

.TableStyle-TabKBTable1-FootE-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	background-color: #1d93d4;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-TabKBTable1-FootE-Regular-Footer1 p
{
	color: #ffffff;
}

.TableStyle-TabKBTable1-FootF-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #1d93d4;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-TabKBTable1-FootF-Regular-Footer1 p
{
	color: #ffffff;
}

.TableStyle-TabKBTable1-FootH-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	background-color: #1d93d4;
}

.TableStyle-TabKBTable1-FootH-Regular-Footer1 p
{
	color: #ffffff;
}

.TableStyle-TabKBTable1-FootD-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #1d93d4;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-TabKBTable1-FootD-Regular-Footer1 p
{
	color: #ffffff;
}

.TableStyle-TabKBTable1-FootC-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #1d93d4;
}

.TableStyle-TabKBTable1-FootC-Regular-Footer1 p
{
	color: #ffffff;
}

.TableStyle-TabKBTable1-FootB-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	background-color: #1d93d4;
}

.TableStyle-TabKBTable1-FootB-Regular-Footer1 p
{
	color: #ffffff;
}

.TableStyle-TabKBTable1-FootA-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #1d93d4;
}

.TableStyle-TabKBTable1-FootA-Regular-Footer1 p
{
	color: #ffffff;
}

.TableStyle-TabKBTable1-FootG-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #1d93d4;
}

.TableStyle-TabKBTable1-FootG-Regular-Footer1 p
{
	color: #ffffff;
}

.TableStyle-TabKBTable1-FootI-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #1d93d4;
}

.TableStyle-TabKBTable1-FootI-DarkShade-Footer1 p
{
	color: #ffffff;
}

.TableStyle-TabKBTable1-FootE-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	background-color: #1d93d4;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-TabKBTable1-FootE-DarkShade-Footer1 p
{
	color: #ffffff;
}

.TableStyle-TabKBTable1-FootF-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #1d93d4;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-TabKBTable1-FootF-DarkShade-Footer1 p
{
	color: #ffffff;
}

.TableStyle-TabKBTable1-FootH-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	background-color: #1d93d4;
}

.TableStyle-TabKBTable1-FootH-DarkShade-Footer1 p
{
	color: #ffffff;
}

.TableStyle-TabKBTable1-FootD-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #1d93d4;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-TabKBTable1-FootD-DarkShade-Footer1 p
{
	color: #ffffff;
}

.TableStyle-TabKBTable1-FootC-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #1d93d4;
}

.TableStyle-TabKBTable1-FootC-DarkShade-Footer1 p
{
	color: #ffffff;
}

.TableStyle-TabKBTable1-FootB-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	background-color: #1d93d4;
}

.TableStyle-TabKBTable1-FootB-DarkShade-Footer1 p
{
	color: #ffffff;
}

.TableStyle-TabKBTable1-FootA-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #1d93d4;
}

.TableStyle-TabKBTable1-FootA-DarkShade-Footer1 p
{
	color: #ffffff;
}

.TableStyle-TabKBTable1-FootG-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #1d93d4;
}

.TableStyle-TabKBTable1-FootG-DarkShade-Footer1 p
{
	color: #ffffff;
}

.TableStyle-TabKBTable1-Body-LightRows
{
	
}

.TableStyle-TabKBTable1-BodyI-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
}

.TableStyle-TabKBTable1-BodyI-Regular-LightRows p
{
	
}

.TableStyle-TabKBTable1-BodyE-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TabKBTable1-BodyE-Regular-LightRows p
{
	
}

.TableStyle-TabKBTable1-BodyF-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-TabKBTable1-BodyF-Regular-LightRows p
{
	
}

.TableStyle-TabKBTable1-BodyH-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TabKBTable1-BodyH-Regular-LightRows p
{
	
}

.TableStyle-TabKBTable1-BodyD-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-TabKBTable1-BodyD-Regular-LightRows p
{
	
}

.TableStyle-TabKBTable1-BodyC-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
}

.TableStyle-TabKBTable1-BodyC-Regular-LightRows p
{
	
}

.TableStyle-TabKBTable1-BodyB-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TabKBTable1-BodyB-Regular-LightRows p
{
	
}

.TableStyle-TabKBTable1-BodyA-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
}

.TableStyle-TabKBTable1-BodyA-Regular-LightRows p
{
	
}

.TableStyle-TabKBTable1-BodyG-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
}

.TableStyle-TabKBTable1-BodyG-Regular-LightRows p
{
	
}

.TableStyle-TabKBTable1-BodyI-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-TabKBTable1-BodyI-DarkShade-LightRows p
{
	
}

.TableStyle-TabKBTable1-BodyE-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TabKBTable1-BodyE-DarkShade-LightRows p
{
	
}

.TableStyle-TabKBTable1-BodyF-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
}

.TableStyle-TabKBTable1-BodyF-DarkShade-LightRows p
{
	
}

.TableStyle-TabKBTable1-BodyH-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TabKBTable1-BodyH-DarkShade-LightRows p
{
	
}

.TableStyle-TabKBTable1-BodyD-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
}

.TableStyle-TabKBTable1-BodyD-DarkShade-LightRows p
{
	
}

.TableStyle-TabKBTable1-BodyC-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-TabKBTable1-BodyC-DarkShade-LightRows p
{
	
}

.TableStyle-TabKBTable1-BodyB-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TabKBTable1-BodyB-DarkShade-LightRows p
{
	
}

.TableStyle-TabKBTable1-BodyA-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-TabKBTable1-BodyA-DarkShade-LightRows p
{
	
}

.TableStyle-TabKBTable1-BodyG-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-TabKBTable1-BodyG-DarkShade-LightRows p
{
	
}

.TableStyle-TabKBTable1-Body-DarkerRows
{
	
}

.TableStyle-TabKBTable1-BodyI-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #e1e4e6;
}

.TableStyle-TabKBTable1-BodyI-Regular-DarkerRows p
{
	
}

.TableStyle-TabKBTable1-BodyE-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #e1e4e6;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TabKBTable1-BodyE-Regular-DarkerRows p
{
	
}

.TableStyle-TabKBTable1-BodyF-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #e1e4e6;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-TabKBTable1-BodyF-Regular-DarkerRows p
{
	
}

.TableStyle-TabKBTable1-BodyH-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #e1e4e6;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TabKBTable1-BodyH-Regular-DarkerRows p
{
	
}

.TableStyle-TabKBTable1-BodyD-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #e1e4e6;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-TabKBTable1-BodyD-Regular-DarkerRows p
{
	
}

.TableStyle-TabKBTable1-BodyC-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #e1e4e6;
}

.TableStyle-TabKBTable1-BodyC-Regular-DarkerRows p
{
	
}

.TableStyle-TabKBTable1-BodyB-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #e1e4e6;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TabKBTable1-BodyB-Regular-DarkerRows p
{
	
}

.TableStyle-TabKBTable1-BodyA-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #e1e4e6;
}

.TableStyle-TabKBTable1-BodyA-Regular-DarkerRows p
{
	
}

.TableStyle-TabKBTable1-BodyG-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #e1e4e6;
}

.TableStyle-TabKBTable1-BodyG-Regular-DarkerRows p
{
	
}

.TableStyle-TabKBTable1-BodyI-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-TabKBTable1-BodyI-DarkShade-DarkerRows p
{
	
}

.TableStyle-TabKBTable1-BodyE-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TabKBTable1-BodyE-DarkShade-DarkerRows p
{
	
}

.TableStyle-TabKBTable1-BodyF-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
}

.TableStyle-TabKBTable1-BodyF-DarkShade-DarkerRows p
{
	
}

.TableStyle-TabKBTable1-BodyH-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TabKBTable1-BodyH-DarkShade-DarkerRows p
{
	
}

.TableStyle-TabKBTable1-BodyD-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
}

.TableStyle-TabKBTable1-BodyD-DarkShade-DarkerRows p
{
	
}

.TableStyle-TabKBTable1-BodyC-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-TabKBTable1-BodyC-DarkShade-DarkerRows p
{
	
}

.TableStyle-TabKBTable1-BodyB-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TabKBTable1-BodyB-DarkShade-DarkerRows p
{
	
}

.TableStyle-TabKBTable1-BodyA-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-TabKBTable1-BodyA-DarkShade-DarkerRows p
{
	
}

.TableStyle-TabKBTable1-BodyG-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-TabKBTable1-BodyG-DarkShade-DarkerRows p
{
	
}


