/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: TabMenuMap;
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #dcdcdc;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	max-id: 10;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Column1;
	id: 0;
	background-color: #ffffff;
	size: 10%;
}

mcTableHeadStyle
{
	span: 1;
	id: 10;
	name: Header1;
	background-color: #1d93d4;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	color: #ffffff;
	text-align: left;
	cell-padding-left: 5px;
	font-weight: normal;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #dcdcdc;
	background-color: #ffffff;
	name: Body1;
	id: 1;
	cell-padding-left: 5px;
}


/* Cell Styles: */
 
.TableStyle-TabMenuMap
{
	border-collapse: separate;
	overflow: hidden;
	border-left-style: solid;
	border-left-color: #dcdcdc;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #dcdcdc;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #dcdcdc;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dcdcdc;
	border-bottom-width: 1px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-spacing: 0px 0px;
}

.TableStyle-TabMenuMap-Column-Column1
{
	width: 10%;
}

.TableStyle-TabMenuMap-Head-Header1
{
	
}

.TableStyle-TabMenuMap-HeadI-Column1-Header1
{
	color: #ffffff;
	font-weight: normal;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
}

.TableStyle-TabMenuMap-HeadI-Column1-Header1 p
{
	color: #ffffff;
	font-weight: normal;
}

.TableStyle-TabMenuMap-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	font-weight: normal;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-TabMenuMap-HeadE-Column1-Header1 p
{
	color: #ffffff;
	font-weight: normal;
}

.TableStyle-TabMenuMap-HeadF-Column1-Header1
{
	color: #ffffff;
	font-weight: normal;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-TabMenuMap-HeadF-Column1-Header1 p
{
	color: #ffffff;
	font-weight: normal;
}

.TableStyle-TabMenuMap-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	font-weight: normal;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
}

.TableStyle-TabMenuMap-HeadH-Column1-Header1 p
{
	color: #ffffff;
	font-weight: normal;
}

.TableStyle-TabMenuMap-HeadD-Column1-Header1
{
	color: #ffffff;
	font-weight: normal;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-TabMenuMap-HeadD-Column1-Header1 p
{
	color: #ffffff;
	font-weight: normal;
}

.TableStyle-TabMenuMap-HeadC-Column1-Header1
{
	color: #ffffff;
	font-weight: normal;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
}

.TableStyle-TabMenuMap-HeadC-Column1-Header1 p
{
	color: #ffffff;
	font-weight: normal;
}

.TableStyle-TabMenuMap-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	font-weight: normal;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
}

.TableStyle-TabMenuMap-HeadB-Column1-Header1 p
{
	color: #ffffff;
	font-weight: normal;
}

.TableStyle-TabMenuMap-HeadA-Column1-Header1
{
	color: #ffffff;
	font-weight: normal;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
}

.TableStyle-TabMenuMap-HeadA-Column1-Header1 p
{
	color: #ffffff;
	font-weight: normal;
}

.TableStyle-TabMenuMap-HeadG-Column1-Header1
{
	color: #ffffff;
	font-weight: normal;
	text-align: left;
	background-color: #1d93d4;
	padding-left: 5px;
}

.TableStyle-TabMenuMap-HeadG-Column1-Header1 p
{
	color: #ffffff;
	font-weight: normal;
}

.TableStyle-TabMenuMap-FootI-Column1-
{
	background-color: #ffffff;
}

.TableStyle-TabMenuMap-FootI-Column1- p
{
	
}

.TableStyle-TabMenuMap-FootE-Column1-
{
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TabMenuMap-FootE-Column1- p
{
	
}

.TableStyle-TabMenuMap-FootF-Column1-
{
	background-color: #ffffff;
}

.TableStyle-TabMenuMap-FootF-Column1- p
{
	
}

.TableStyle-TabMenuMap-FootH-Column1-
{
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TabMenuMap-FootH-Column1- p
{
	
}

.TableStyle-TabMenuMap-FootD-Column1-
{
	background-color: #ffffff;
}

.TableStyle-TabMenuMap-FootD-Column1- p
{
	
}

.TableStyle-TabMenuMap-FootC-Column1-
{
	background-color: #ffffff;
}

.TableStyle-TabMenuMap-FootC-Column1- p
{
	
}

.TableStyle-TabMenuMap-FootB-Column1-
{
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TabMenuMap-FootB-Column1- p
{
	
}

.TableStyle-TabMenuMap-FootA-Column1-
{
	background-color: #ffffff;
}

.TableStyle-TabMenuMap-FootA-Column1- p
{
	
}

.TableStyle-TabMenuMap-FootG-Column1-
{
	background-color: #ffffff;
}

.TableStyle-TabMenuMap-FootG-Column1- p
{
	
}

.TableStyle-TabMenuMap-Body-Body1
{
	
}

.TableStyle-TabMenuMap-BodyI-Column1-Body1
{
	padding-left: 5px;
	background-color: #ffffff;
}

.TableStyle-TabMenuMap-BodyI-Column1-Body1 p
{
	
}

.TableStyle-TabMenuMap-BodyE-Column1-Body1
{
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TabMenuMap-BodyE-Column1-Body1 p
{
	
}

.TableStyle-TabMenuMap-BodyF-Column1-Body1
{
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	background-color: #ffffff;
}

.TableStyle-TabMenuMap-BodyF-Column1-Body1 p
{
	
}

.TableStyle-TabMenuMap-BodyH-Column1-Body1
{
	padding-left: 5px;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TabMenuMap-BodyH-Column1-Body1 p
{
	
}

.TableStyle-TabMenuMap-BodyD-Column1-Body1
{
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	background-color: #ffffff;
}

.TableStyle-TabMenuMap-BodyD-Column1-Body1 p
{
	
}

.TableStyle-TabMenuMap-BodyC-Column1-Body1
{
	padding-left: 5px;
	background-color: #ffffff;
}

.TableStyle-TabMenuMap-BodyC-Column1-Body1 p
{
	
}

.TableStyle-TabMenuMap-BodyB-Column1-Body1
{
	padding-left: 5px;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TabMenuMap-BodyB-Column1-Body1 p
{
	
}

.TableStyle-TabMenuMap-BodyA-Column1-Body1
{
	padding-left: 5px;
	background-color: #ffffff;
}

.TableStyle-TabMenuMap-BodyA-Column1-Body1 p
{
	
}

.TableStyle-TabMenuMap-BodyG-Column1-Body1
{
	padding-left: 5px;
	background-color: #ffffff;
}

.TableStyle-TabMenuMap-BodyG-Column1-Body1 p
{
	
}


