@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/*<meta />*/

h1
{
	padding: 0px;
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	font-weight: bold;
	text-align: left;
	line-height: Normal;
	margin-bottom: 12pt;
	text-indent: 0px;
	color: #0886B6;
	font-size: 15pt;
}

li.h1
{
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	font-weight: bold;
	text-align: left;
	line-height: Normal;
	text-indent: 0px;
	color: #0886B6;
	font-size: 15pt;
}

h2
{
	font-weight: bold;
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	text-align: left;
	line-height: Normal;
	color: #67be27;
	border-bottom-color: #808080;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	margin: 0;
	margin-bottom: 6pt;
	margin-top: 18pt;
	font-size: 13.5pt;
}

li.h2
{
	font-weight: bold;
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	text-align: left;
	line-height: Normal;
	color: #67be27;
	font-size: 14pt;
}

h3
{
	font-weight: bold;
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	text-align: left;
	line-height: Normal;
	font-style: italic;
	margin-bottom: 6pt;
	font-size: 12pt;
	color: #0886B6;
}

li.h3
{
	font-weight: bold;
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	text-align: left;
	line-height: Normal;
	font-style: italic;
	color: #0886B6;
	font-size: 12pt;
}

h4
{
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	margin-bottom: 0.6em;
	margin-top: 1.12em;
	color: #0886b6;
	font-size: 10.5pt;
}

li.h4
{
	font-size: 11pt;
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	color: #0886B6;
}

h5
{
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	margin-bottom: 0.6em;
	margin-top: 1.12em;
	color: #000000;
	font-size: 10.5pt;
}

li.h5
{
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	font-size: 11pt;
}

h6
{
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	color: #000000;
	font-weight: bold;
	font-style: italic;
	margin-bottom: 0.6em;
	font-size: 10.5pt;
}

li.h6
{
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	color: #000000;
	font-size: 10.5pt;
	font-weight: bold;
	font-style: italic;
}

.bodytext
{
	font-weight: normal;
	text-align: left;
	line-height: Normal;
	margin-bottom: 6pt;
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	font-size: 10pt;
}

.bodytextindent
{
	font-weight: normal;
	margin-left: .25in;
	line-height: Normal;
	margin-bottom: 6pt;
	font-size: 10pt;
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
}

p.bullettext
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-size: 10pt;
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	list-style: square;
	list-style-image: url('../Images/CSS/bullet.png');
}

li.P-bullettext
{
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	list-style: square;
	margin: 1.12em;
	margin-bottom: 6pt;
	margin-left: 0pt;
	margin-right: 0pt;
	margin-top: 6pt;
	font-size: 10pt;
	list-style-image: url('../Images/CSS/bullet.png');
}

p.bullettextindent
{
	list-style: square;
	list-style-image: url('../Images/CSS/bullet.png');
	list-style-type: square;
	margin-left: .25in;
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-size: 10pt;
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
}

li.P-bullettextindent
{
	list-style: square;
	list-style-type: square;
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	margin: 1.12em;
	margin-bottom: 6pt;
	margin-left: 0.25in;
	margin-right: 0pt;
	margin-top: 6pt;
	font-size: 10pt;
	list-style-image: url('../Images/CSS/bullet.png');
}

p.numberlist
{
	list-style: decimal;
	margin-top: 3pt;
	margin-bottom: 3pt;
	font-size: 10pt;
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
}

li.P-numberlist
{
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	list-style-image: none;
	font-size: 10pt;
	list-style: numbered;
	list-style-type: decimal;
}

p.numberlist6ptAfter
{
	list-style: decimal;
	margin-top: 3pt;
	margin-bottom: 6pt;
	font-size: 10pt;
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
}

li.P-numberlist6ptAfter
{
	list-style: decimal;
	font-size: 10pt;
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
}

p.numberlistalpha
{
	list-style: lower-alpha;
	margin-top: 3pt;
	margin-bottom: 6pt;
	font-size: 10pt;
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
}

li.P-numberlistalpha
{
	list-style: lower-alpha;
	font-size: 10pt;
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
}

/*table
{
	-collapse: collapse;
	border-width: 1px;
	border-style: solid;
	padding: 2px;
	border-bottom-color: #c0c0c0;
	border-color: #c0c0c0;
	table-layout: fixed;
}*/

/*th
{
	border-collapse: collapse;
	padding: 2px;
	font-size: 12pt;
	font-weight: bold;
	line-height: Normal;
	background: #00a8b4;
	margin-left: 0in;
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	background-color: #00a8b4;
	text-align: left;
}*/

th.GHead
{
	border-bottom: solid 2px #000000;
	background-color: #69be28;
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	width: 20px;
	width: fixed !important;
	word-wrap: break-word;
}

th.GHeadCode
{
	border-bottom: solid 2px #000000;
	background-color: #69be28;
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	width: 20px;
	width: fixed !important;
	word-wrap: break-word;
}

th.GHeadDesc
{
	border-bottom: solid 2px #000000;
	background-color: #69be28;
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	width: 80px;
	width: fixed !important;
	word-wrap: break-word;
}

th.GHead1
{
	border-bottom: solid 2px #000000;
	background-color: #69be28;
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	width: 15px;
	width: fixed !important;
	word-wrap: break-word;
}

/*td
{
	border-collapse: collapse;
	padding: 2px;
	margin-left: 0in;
	border-width: 1px;
	border-style: solid;
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	font-size: 10pt;
	border-bottom-color: #c0c0c0;
	border-color: #c0c0c0;
}*/

/*.tabletext
{
	padding: 2px;
	line-height: Normal;
	margin-bottom: 3pt;
	margin-top: 3pt;
	margin-left: 0in;
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	vertical-align: top;
	font-size: 10pt;
}

.tableheading
{
	padding: 2px;
	font-weight: bold;
	line-height: Normal;
	background: #00a8b4;
	margin-left: 0in;
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10.5pt;
	background-color: #00a8b4;
}*/

.tabletext
{
	line-height: Normal;
}

.tableheading
{
	padding: 2px;
}

p.pre
{
	font-size: 10pt;
	font-family: "Consolas", monospace;
	margin-top: 3pt;
	margin-bottom: 3pt;
}

li.P-pre
{
	font-size: 10pt;
	font-family: "Courier New", monospace;
}

span.replace
{
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
	color: #0886B6;
}

span.required
{
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
	color: #8000FF;
}

p
{
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	margin-left: 0pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-size: 10pt;
}

li.p
{
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	font-size: 10pt;
}

p.SamplePHP
{
	color: #830006;
	font-size: 9pt;
	font-family: Consolas, ' verdana', ' sans-serif';
}

li.P-SamplePHP
{
	font-size: 10pt;
	font-family: Verdana, sans-serif;
	color: #830006;
}

p.SampleTerminal
{
	font-size: 10pt;
	color: #008080;
	font-family: "Courier New", monospace;
}

li.P-SampleTerminal
{
	font-size: 10pt;
	color: #008080;
	font-family: "Courier New", monospace;
}

p.SampleAppCode
{
	font-size: 10pt;
	font-family: "Courier New", monospace;
}

li.P-SampleAppCode
{
	font-size: 10pt;
	font-family: "Courier New", monospace;
}

span.Note
{
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	color: #C41230;
	font-weight: bold;
	font-size: 10pt;
}

p.NotePara
{
	margin-top: 0pt;
}

li.P-NotePara
{
	
}

b
{
	font-size: 10pt;
}

i
{
	font-size: 10pt;
}

MadCap|xref.custom
{
	mc-format: '{quote}{paratext}{quote}';
}

@media print
{
	MadCap|xref.custom
	{
		mc-format: '{quote}{paratext}{quote} on page {page}';
	}

	a
	{
		font-size: 10pt;
		font-family: Arial;
	}

	p
	{
		font-family: Arial;
	}
}

a
{
	font-size: 10pt;
}

span.bold
{
	font-weight: bold;
	font-size: 10pt;
}

span.italic
{
	font-size: 10pt;
	font-style: italic;
}

li
{
	font-family: 'Trebuchet MS', ' Trebuchet';
	margin: 1.12em;
	margin-bottom: 6pt;
	margin-left: 0pt;
	margin-right: 0pt;
	margin-top: 6pt;
	font-size: 10pt;
}

MadCap|dropDownHead
{
	font-family: 'Trebuchet MS', ' Trebuchet', 'Arial';
	font-weight: bold;
	color: #00a8b4;
	font-size: 10pt;
	padding-bottom: 5pt;
	padding-top: 5pt;
	mc-open-image: url('../Images/CSS/BMinus.png');
	mc-open-image-alt-text: Open;
	mc-closed-image: url('../Images/CSS/BPlus.png');
	mc-closed-image-alt-text: Closed;
	mc-image-position: left;
	mc-image-spacing: 5px;
}

MadCap|dropDownHotspot
{
	font-family: 'Trebuchet MS', ' Trebuchet', 'Arial';
	color: #00a8b4;
	font-size: 10pt;
	mc-closed-image: url('../Images/CSS/BPlus.png');
	mc-closed-image-alt-text: Closed;
	mc-open-image: url('../Images/CSS/BMinus.png');
	mc-open-image-alt-text: Open;
	mc-image-position: left;
	mc-image-spacing: 5px;
}

td.subheading
{
	background-color: #ebf9fe;
	vertical-align: top;
	font-weight: bold;
}

td.headingGreen
{
	vertical-align: top;
	font-weight: bold;
	background-color: #69be28;
	color: #ffffff;
	border-bottom: solid 2px #000000;
	border-color: #ffffff;
	border-bottom-color: #000000;
}

th.headingGreen
{
	vertical-align: top;
	font-weight: bold;
	background-color: #69be28;
	color: #ffffff;
	border-bottom: solid 2px #000000;
	border-color: #ffffff;
	border-bottom-color: #000000;
	width: 20px;
}

span.Internal
{
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	font-size: 10pt;
	color: #ff4500;
}

span.releaseVersion
{
	font-size: 10pt;
	color: #696969;
	font-weight: bold;
	font-style: oblique;
}

span.release
{
	font-size: 12pt;
	font-family: Magneto;
	color: #69be28;
	font-weight: bold;
}

span.Diff
{
	background-color: #ffffe0;
}

td.subHeadingGreen
{
	background-color: #a6e278;
	border-bottom-color: #ffffff;
	border-color: #ffffff;
	font-weight: bold;
	vertical-align: top;
}

td.sampleLightGreen
{
	/*border-bottom-color: #ffffff;
	border-color: #ffffff;
	background-color: #eaf8e0;
	font-size: 10pt;
	width: 20px;	*/
	border: solid 1px #ffffff;
	color: #000000;
	font-size: 9pt;
	font-family: Arial;
	width: 20px;
}

td.sampleGreen
{
	border-bottom-color: solid 1px #ffffff;
	border-color: solid 1px #ffffff;
	color: #0886b6;
	font-size: 10pt;
}

/*td.sampleBlack
{
    border-bottom-color:solid 1px #ffffff;
	border-color:solid 1px #ffffff;
	color: #000000;
	font-size: 10pt;
	width: 20px;
}*/

/*td.sampleBlack
{
	background-color: #ecfae1;
	border: solid 1px #a9a9a9;
	font-size: 9pt;
	font-family: Arial;
	width: 20px;
}*/

/*tr
{
	vertical-align: top;
}*/

td.greenColumn
{
	background-color: #ecfae1;
	border: solid 0.01px #a9a9a9;
	font-size: 9pt;
	font-family: Arial;
	width: fixed !important;
	word-wrap: break-word;
	width: 150px;
	color: #000000;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: normal;
}

td.GrayBorder2
{
	background-color: #ffffff;
	border: solid 0.01px #a9a9a9;
	font-size: 9pt;
	font-family: Arial;
	width: fixed !important;
	word-wrap: break-word;
	width: 150px;
	color: #000000;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: normal;
}

tr
{
	vertical-align: top;
	padding-bottom: 0px;
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	font-size: 10pt;
}

span.NextSteps
{
	color: #008000;
	font-weight: bolder;
	font-style: italic;
	font-size: 12pt;
	font-family: 'Trebuchet MS', ' Trebuchet', 'Arial';
}

a.imagelink
{
	
}

a.imagelink:link
{
	text-decoration: none;
	color: #ffffff;
}

a.imagelink:visited
{
	text-decoration: none;
	color: #ffffff;
}

map
{
	border: none;
	outline: none;
}

map.area
{
	outline: none;
}

span.SamplePHP
{
	font-family: Verdana, sans-serif;
	color: #830006;
	font-size: 9pt;
	padding-top: 6pt;
	padding-bottom: 6pt;
}

pre
{
	margin: 6pt;
	margin-left: 0pt;
	margin-right: 0pt;
	line-height: 15pt;
	font-family: 'Trebuchet MS', ' Trebuchet';
}

span.Content
{
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	font-weight: bolder;
	font-size: 10pt;
	color: #800080;
}

span.Schema
{
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	font-weight: bolder;
	font-size: 10pt;
	color: #228b22;
}

span.SchemaDiagram
{
	font-family: "Trebuchet MS", Trebuchet, sans-serif;
	font-weight: bolder;
	font-size: 10pt;
	color: #800080;
}

span.Element
{
	font-family: "Trebuchet MS", Trebuchet, sans-serif;
	font-weight: bolder;
	font-size: 10pt;
	color: #008000;
}

blockquote
{
	margin-bottom: 6pt;
	margin-top: 6pt;
	margin-left: 20px;
	margin-right: 20px;
}

span.Normal
{
	color: #000000;
	font-size: 10pt;
	font-weight: normal;
	font-family: Arial;
	padding-bottom: 4px;
}

style.Normal
{
	color: #000000;
	font-family: '"Trebuchet MS"', Trebuchet, Arial, sans-serif;
	font-size: 10pt;
	font-weight: normal;
}

thead.GreenHead
{
	border-bottom: solid 2px #000000;
	background-color: #69be28;
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
}

table.GrayBorders
{
	border-collapse: collapse;
	border: solid 0px #a9a9a9;
	padding: 2px;
	font-family: Arial;
	font-size: 9pt;
	table-layout: fixed;
}

tr.Elements
{
	background-color: #ecfae1;
	font-size: 9pt;
	font-family: Arial;
}

td.GrayBorder
{
	border: solid 0.01px #a9a9a9;
	border-spacing: 0px 0px;
	font-family: Arial;
	width: fixed !important;
	width: 40px;
	word-wrap: break-word;
}

td.GrayBorder1
{
	border: solid 0.01px #a9a9a9;
	border-spacing: 0px 0px;
	font-family: Arial;
	width: fixed !important;
	width: 15px;
	word-wrap: break-word;
}

p.DataOrigin
{
	font-family: Arial;
	background-color: #e9f5e0;
	border-bottom: solid 1px #0886b6;
	border-top: solid 1px #0886b6;
	padding-bottom: 6pt;
	padding-top: 6pt;
	padding-left: 3pt;
	padding-right: 3pt;
}

p.MessageFlow
{
	border-top: solid 1px #660066;
	border-bottom: solid 1px #660066;
	color: #000000;
	font-family: Arial;
	font-size: 8pt;
	padding-bottom: 3pt;
	padding-top: 3pt;
	padding-left: 10pt;
	margin-left: 0pt;
	background-color: #f5f5f5;
	margin-bottom: 12pt;
}

MadCap|dropDownHotspot.Workflow
{
	color: #696969;
	font-family: Arial;
	font-size: 7.5pt;
	font-weight: bold;
}

span.Origin
{
	color: #69be28;
	font-size: 10pt;
	font-family: Arial;
	text-transform: capitalize;
	font-weight: bold;
}

MadCap|toggler
{
	mc-closed-image: url('../Images/CSS/BPlus.png');
	mc-open-image: url('../Images/CSS/BMinus.png');
}

MadCap|dropDown
{
	mc-closed-image: url('../Images/CSS/BPlus.png');
	mc-open-image: url('../Images/CSS/BMinus.png');
	mc-image: none;
}

p.table9pt
{
	font-size: 9pt;
}

tr:hover
{
	background-image: none;
}

p.message
{
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	margin-left: 0pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-size: 10pt;
	font-style: italic;
	text-indent: 20px;
}

p.alphaBeta
{
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	margin-left: 0pt;
	margin-top: 6pt;
	font-size: 10pt;
	font-weight: bold;
	background-color: #69be28;
	color: #ffffff;
	padding-bottom: 0.12em;
	padding-top: 0.12em;
	padding: 0.12em;
	margin-bottom: 12pt;
}

p.story
{
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	margin-left: 0pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-size: 10pt;
	font-weight: bold;
	color: #800080;
}

p.TechCommOnly
{
	font-weight: bold;
	color: #ff00ff;
}

p.Internal
{
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	margin-left: 0pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-size: 10pt;
	color: #ff4500;
}

ol
{
	list-style-type: decimal;
	padding-left: 2.0em;
}

ol ol
{
	list-style-type: lower-alpha;
}

ul
{
	list-style-type: square;
	padding-left: 2.0em;
	list-style-image: url('../Images/CSS/bullet.png');
}

ul.Indent
{
	list-style-type: square;
	padding-left: 4.0em;
	list-style-image: url('../Images/CSS/bullet.png');
}

ul ol
{
	list-style-type: decimal;
	list-style-image: none;
}

ol ol ol
{
	list-style-type: lower-roman;
}

ul ol ol
{
	list-style-type: lower-alpha;
}

ul ul ol
{
	list-style-type: decimal;
}

ol ul ol
{
	list-style-type: decimal;
}

ul ul
{
	list-style-image: url('../Images/CSS/circle.png');
	list-style-type: circle;
}

ol ul
{
	list-style: square;
	list-style-image: url('../Images/CSS/bullet.png');
}

ul ul ul
{
	list-style-image: url('../Images/CSS/bar.png');
	list-style-type: disc;
}

ol ul ul
{
	list-style-image: url('../Images/CSS/circle.png');
}

ol ol ul
{
	list-style: square;
	list-style-image: url('../Images/CSS/bullet.png');
}

ul ol ul
{
	list-style: square;
	list-style-image: url('../Images/CSS/bullet.png');
}

MadCap|dropDownBody
{
	padding-left: 1.5em;
}

p.SampleCode
{
	font-family: 'Courier New';
	margin: 0;
	font-size: 9pt;
	background-color: #f6faf2;
	margin-bottom: 0px;
}

p.Path
{
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	color: #696969;
	margin-top: 3pt;
	margin-bottom: 3pt;
	margin-left: 2em;
	font-size: 9pt;
}

.Internal
{
	color: #ff4500;
}

.TechCommOnly
{
	font-weight: bold;
	color: #ff00ff;
}

MadCap|expanding
{
	mc-closed-image: url('../Images/CSS/BPlus.png');
	mc-open-image: url('../Images/CSS/BMinus.png');
}

@media non-print
{
	MadCap|dropDownHotspot
	{
		
	}

	MadCap|dropDownHotspot:focus
	{
		
	}

	img
	{
		
	}

	img.map
	{
		outline: none;
		border: solid 0px;
	}
}

html
{
	
}

